@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cute";
  src: url("/fonts/cantopop.woff2") format("woff2");
}

input[type="checkbox"] {
  border: none;
}

.mapboxgl-popup-content{
  width: fit-content!important;
}

.mapboxgl-popup{
  max-width: 100%!important;
}